<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ciudades</title>
</head>
<body>
<h1>Ciudades</h1>

<a href="/newCity">Agregar</a>
<br/>
<a href="bienvenidos">Volver</a>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Opciones
        </th>
    </tr>

    <tr th:each="city : ${cities}">
        <td th:text="${city.id}">
        </td>
        <td th:text="${city.nombre}">
        </td>
        <td>
            <a th:href="${'/showCity/' + city.id}">Ver</a>
            <a th:href="${'/editCity/' + city.id}">Editar</a>
            <a th:href="${'/deleteCity/' + city.id}">Eliminar</a>
        </td>

    </tr>


</table>
</body>
</html>