<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show</title>
</head>
<body>
<h1>Restaurante</h1>

<img th:src="${'/files/' + rest.name + '.jpg'}" />
<br/>
<p th:text="${rest.name}"></p>
<p th:text="${rest.description}"></p>
<p th:text="${rest.category.nombre}"></p>
<b>Telefono:</b> <p th:text="${rest.phone}"></p>
<b>Ciudad:</b> <p th:text="${rest.city.nombre}"></p>
<br/>
<b>Likes:</b> <p th:text="${rest.likes}"></p>
<a th:href="${'/like/' + rest.id}">Like</a>
<br/>
<a th:href="${'/Restaurants'}">Volver</a>
<br/>
</body>
</html>